.Rproj.user
.Rhistory
.RData
.Ruserdata

mcsub_09_pca.nii

mcsub_15_pca.nii

sub_09_pca.nii

sub_15_pca.nii

*.history

OldR/ForMARINeR/data.mat.r1.vv.norm.rda

OldR/ForMARINeR/DESIGN.rda

OldR/ForMARINeR/data.mat.r1.vv.norm.rda

OldR/ForMARINeR/DESIGN.rda

OldR/Code/.Rapp.history

OldR/Code/.Rapp.history

OldR/ForMARINeR/data.mat.r1.vv.norm.rda

OldR/ForMARINeR/DESIGN.rda
